@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
  content: "\e900";
}
.icon-share:before {
  content: "\e901";
}
.icon-volunteer:before {
  content: "\e902";
}
.icon-upload:before {
  content: "\e903";
}
.icon-translate:before {
  content: "\e904";
}
.icon-track:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e906";
}
.icon-print:before {
  content: "\e907";
}
.icon-person:before {
  content: "\e908";
}
.icon-nightlife:before {
  content: "\e909";
}
.icon-label:before {
  content: "\e90a";
}
.icon-face:before {
  content: "\e90b";
}
.icon-comment:before {
  content: "\e90c";
}
.icon-bookmark:before {
  content: "\e90d";
}
